@model List<TP2.Models.Parent>
@using System.Linq;


<div class="container">
    <h1>Overwatch</h1>
    <br>
    <img src="/image/logo.png" alt="logo Overwatch" height="200" width="200" class="center">
    <br><br>
    
    <div class="row justify-content-center textCentré">

        @foreach (var item in Model)
        {

            <div class="col-lg-3 col-xl-3 col-xxl-3 col-sm-12 role">
                <a id="LienDps" href="~/Enfant/Recherche/">
                    <h2>@item.Nom</h2>
                    <img class="center" src=@item.Logo alt="logo @item.Nom">
                    <br>
                    <h3>Description</h3>
                    <p>@item.description</p>
                    <h3>Stats</h3>
                    <br>
                    <p>Nombre de héro: <br> @item.Enfants.Count</p>
                    <p>Vie Moyenne: <br> @Math.Round((decimal)item.Enfants.Where(e => e.IdParent == item.Id).Average(h => h.hp)) </p>

                    <p>Point fort: <br> @item.pointFort</p>
                </a>


            </div>
        }
    </div>

</div>
